.odd{
    color: rgb(7, 4, 6);
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background:linear-gradient(to right,rgb(156, 70, 70), rgb(151, 26, 151),white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
