.odd{
    color: rgb(7, 4, 6);
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeirQkWAhb_Iqz2kX16VyyOBpHrUgxuVb86LyrOctpwaZwBaBmQ6OOBCl4s1rqxTA3cRI&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
